@use '../utils' as *;

.button-basket {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  min-width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  background-color: $ui-main;
  cursor: pointer;
  transition: opacity $hover;
  color: $text-main;
  @include font-medium(12px, 0.06em);

  &:hover {
    opacity: 0.7;
  }
  &:focus-visible {
    outline: 2px solid greenyellow;
    opacity: 0.7;
  }
}
