@use '../utils' as *;

.button-sort {
  display: flex;
  gap: 4px;
  border: none;
  background-color: $background-main;
  cursor: pointer;
  @include effect-hover-main;
  @include effect-focus-main;

  &__text {
    text-transform: uppercase;
    @include font-medium(12px, 0.06em);
  }

  &__arrow {
    width: 10px;
    height: 10px;
    background: url('./images/sort-arrow-icon.svg') no-repeat center / contain;
  }
}
