@use '../utils' as *;

.link-callback-tel {
  display: flex;
  flex-direction: column;
  gap: 2px;
  @include effect-hover-main;
  @include effect-focus-main;

  &__number {
    @include font-medium(16px, -0.02em);
  }

  &__placeholder {
    opacity: 0.3;
    @include font-regular(14px);
  }
}
