@use '../utils' as *;

.products {
  width: 100%;
  max-width: calc(100% - 48px);
  margin: 0 auto;
  padding-bottom: 64px;
  @include media-tablet {
    display: flex;
    max-width: calc(100% - 128px);
    gap: 50px;
  }
  @include media-laptop-L {
    padding-bottom: 141px;
    gap: 138px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    @include media-laptop-L {
      margin-bottom: 45px;
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px 15px;
    @include media-tablet {
      justify-content: start;
      gap: 16px 20px;
    }
  }

  &__button-filters {
    @include media-tablet {
      display: none;
    }
  }

  &__counter {
    display: none;
    @include media-tablet {
      display: revert;
      text-transform: uppercase;
      @include font-medium(12px, 0.06em);
    }
  }

  // &__filters {
  //   display: none;
  //   @include media-tablet {
  //     display: flex;
  //   }
  // }

  &__main {
    width: 100%;
    margin-top: 2px;
  }
}
