@use '../utils' as *;

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1920px;
  margin: 0 auto;
  background-color: $background-main;
  font-family: $font-main;
  display: flex; //! temporarily
  flex-direction: column; //! temporarily
  justify-content: center; //! temporarily
  align-items: center; //! temporarily
  height: 100vh; //! temporarily
}

h1,
h2 {
  margin: 0;
}

p {
  margin: 0;
}
