@use '../utils' as *;

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex; //! temporarily
  flex-direction: column; //! temporarily
  align-items: center; //! temporarily
  justify-content: center; //! temporarily
  max-width: 1920px;
  height: 100vh; //! temporarily
  margin: 0 auto;
  background-color: $background-main;
  color: $text-main;
  font-family: $font-main;
}

h1,
h2 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
}
