-
  catalog = [
    {
      id: 1,
      image: './images/1.png',
      title: 'Краска Wallquest, Brownsone MS90102',
      price: '6000',
    },
    {
      id: 2,
      image: './images/2.png',
      title: 'Краска Wallquest, Brownsone MS90102',
      price: '4800',
    },
    {
      id: 3,
      image: './images/3.png',
      title: 'Краска Wallquest, Brownsone MS90102',
      price: '5290',
    },
    {
      id: 4,
      image: './images/4.png',
      title: 'Краска Wallquest, Brownsone MS90102',
      price: '2800',
    },
    {
      id: 5,
      image: './images/5.png',
      title: 'Краска Wallquest, Brownsone MS90102',
      price: '3400',
    },
    {
      id: 6,
      image: './images/6.png',
      title: 'Краска Wallquest, Brownsone MS90102',
      price: '3400',
    },
    {
      id: 7,
      image: './images/7.png',
      title: 'Краска Wallquest, Brownsone MS90102',
      price: '3400',
    },
    {
      id: 8,
      image: './images/7.png',
      title: 'Краска Wallquest, Brownsone MS90102',
      price: '3400',
    },
    {
      id: 9,
      image: './images/4.png',
      title: 'Краска Wallquest, Brownsone MS90102',
      price: '3400',
    },
    {
      id: 10,
      image: './images/8.png',
      title: 'Краска Wallquest, Brownsone MS90102',
      price: '3400',
    },
    {
      id: 11,
      image: './images/6.png',
      title: 'Краска Wallquest, Brownsone MS90102',
      price: '3400',
    },
    {
      id: 12,
      image: './images/7.png',
      title: 'Краска Wallquest, Brownsone MS90102',
      price: '3400',
    },
    {
      id: 13,
      image: './images/7.png',
      title: 'Краска Wallquest, Brownsone MS90102',
      price: '3400',
    },
    {
      id: 14,
      image: './images/4.png',
      title: 'Краска Wallquest, Brownsone MS90102',
      price: '3400',
    },
    {
      id: 15,
      image: './images/8.png',
      title: 'Краска Wallquest, Brownsone MS90102',
      price: '3400',
    },
  ];
