button.button-sort
  span.button-sort__text Сначала дорогие
  span.button-sort__arrow
button.button-sort
  span.button-sort__text Сначала недорогие
  span.button-sort__arrow
button.button-sort
  span.button-sort__text Сначала популярные
  span.button-sort__arrow
button.button-sort
  span.button-sort__text Сначала новые
  span.button-sort__arrow
