.filters
  .filter-checkbox
    input#filterNew.filter-checkbox__input(type='checkbox', name='filterNew')
    label.filter-checkbox__label(for='filterNew') Новинки
  .filter-checkbox
    input#filterStock.filter-checkbox__input(type='checkbox', name='filterStock')
    label.filter-checkbox__label(for='filterStock') Есть в наличии
  .filter-checkbox
    input#filterContract.filter-checkbox__input(type='checkbox', name='filterContract')
    label.filter-checkbox__label(for='filterContract') Контрактные
  .filter-checkbox
    input#filterExcluzive.filter-checkbox__input(type='checkbox', name='filterExcluzive')
    label.filter-checkbox__label(for='filterExcluzive') Контрактные
  .filter-checkbox
    input#filterSale.filter-checkbox__input(type='checkbox', name='filterSale')
    label.filter-checkbox__label(for='filterSale') Распродажа
