.modal-sort
  ul.modal-sort__list
    li
      button.modal-sort__button.modal-sort__button_active Сначала дорогие
    li
      button.modal-sort__button Сначала недорогие
    li
      button.modal-sort__button Сначала популярные
    li
      button.modal-sort__button Сначала новые
