nav.navigation
  ul.navigation__list
    li
      a.navigation__link(href='#') Продукты
    li
      a.navigation__link(href='#') Цвета
    li
      a.navigation__link(href='#') Вдохновение
    li
      a.navigation__link(href='#') Советы
    li
      a.navigation__link(href='#') Найти магазин
