mixin breadcrumbs(className)
  ul(class=['breadcrumbs', className])
    li.breadcrumbs__element
      a.breadcrumbs__link(href='#') Главная
    li.breadcrumbs__element
      a.breadcrumbs__link(href='#') Продукты
    li.breadcrumbs__element
      a.breadcrumbs__link(href='#') Краски
