mixin cart-product(className)
  div(class=['cart-product', className])
    .cart-product__info
      img.cart-product__image(src='./images/product-image.png', alt='Картинка')
      .cart-product__description
        .cart-product__title Краска Wallquest, Brownsone MS90102
        .cart-product__price 9600
    .cart-product__ui
      button.cart-product__minus
      span.cart-product__counter 2
      button.cart-product__plus
      button.cart-product__delete
