mixin filter-checkbox(id, labelText, className)
  div(class=['filter-checkbox', className])
    input.filter-checkbox__input(type='checkbox', id=id, name=id)
    label.filter-checkbox__label(for=id) #{ labelText }
