include ./button-filters
include ./card
include ./filter-checkbox
include ./filters
include ./modal-sort

mixin products(className)
  section(class=['products', className])
    +filters('products__filters')
      +filter-checkbox('filterNew', 'Новинки') 
      +filter-checkbox('filterStock', 'Есть в наличии') 
      +filter-checkbox('filterContract', 'Контрактные') 
      +filter-checkbox('filterExcluzive', 'Эксклюзивные') 
      +filter-checkbox('filterSale', 'Распродажа') 
    .products__main
      .products__buttons
        +button-filters('products__button-filters') 
        span.products__counter 412 товаров
        +modal-sort
      .products__cards
        +card('./images/card-image.png', 'Картинка', 'Краска Wallquest, Brownsone MS90102', '4800')
        +card('./images/card-image.png', 'Картинка', 'Краска Wallquest, Brownsone MS90102', '4800')
        +card('./images/card-image.png', 'Картинка', 'Краска Wallquest, Brownsone MS90102', '4800')
        +card('./images/card-image.png', 'Картинка', 'Краска Wallquest, Brownsone MS90102', '4800')
        +card('./images/card-image.png', 'Картинка', 'Краска Wallquest, Brownsone MS90102', '4800')
        +card('./images/card-image.png', 'Картинка', 'Краска Wallquest, Brownsone MS90102', '4800')
        +card('./images/card-image.png', 'Картинка', 'Краска Wallquest, Brownsone MS90102', '4800')
        +card('./images/card-image.png', 'Картинка', 'Краска Wallquest, Brownsone MS90102', '4800')
        +card('./images/card-image.png', 'Картинка', 'Краска Wallquest, Brownsone MS90102', '4800')
        +card('./images/card-image.png', 'Картинка', 'Краска Wallquest, Brownsone MS90102', '4800') 
