include ./button-filters
include ./card
include ./filter-checkbox
include ./filters
include ./modal-sort

mixin products(arrayProducts=[], className)
  section(class=['products', className])
    +filters('products__filters')
    .products__main
      .products__buttons
        +button-filters('products__button-filters') 
        span.products__counter #{ arrayProducts.length } товаров
        +modal-sort
      .products__cards
        each item in arrayProducts
          +card(item.id, item.image, item.title, item.price)
