mixin template-card(src='', title='', price='', className)
  div(class=['template-card', className])
    img.template-card__image(src=src, alt=title)
    p.template-card__description #{ title }
    .template-card__footer
      span.template-card__price #{ price }
      button.template-card__button
