include ./link-basket
include ./link-icon

mixin ui-icons(className)
  ul(class=['ui-icons', className])
    li
      +link-icon('s', 'search')
    li
      +link-icon('m', 'profile')
    li
      +link-icon('m', 'like')
    li
      +link-basket
