@use './vars' as *;

@mixin effect-focus-main {
  &:focus-visible {
    border-radius: 2px;
    outline: $ui-main 2px solid;
  }
}

@mixin effect-hover-main {
  transition: color $hover;
  user-select: none;
  &:hover {
    color: $ui-main;
  }
}

@mixin effect-hover-button {
  transition: background-color $hover;
  user-select: none;
  &:hover {
    background-color: $ui-main;
  }
}

@mixin effect-hover-icon {
  user-select: none;
  &::before {
    transition: opacity $hover;
  }
  &::after {
    transition: opacity $hover;
  }
  &:hover::after {
    opacity: 1;
  }
}

@mixin no-effects {
  cursor: auto;
  &:hover {
    background-color: transparent;
  }
}
