// Fonts
$font-main: 'Inter', sans-serif;

// Colors
$background-main: #ffffff;
$text-main: #1f2020;
$text-hero: #ffffff;
$breadcrumbs-mobile: #1f2020;
$breadcrumbs-dekstop: #ffffff;
$ui-main: #7bb899;
$ui-secondary: #f2f2f2;

// Media
$mobile-S: 320px;
$mobile-M: 375px;
$mobile-L: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptop-L: 1440px;
$desktop: 1920px;

// Effects
$hover: 200ms;
$filters: 500ms;
$wrapper: 200ms;
