// Colors
$main-font: 'Inter', sans-serif;
$main-background: #ffffff;
$main-color: #1f2020;

// Media
$mobile-S: 320px;
$mobile-M: 375px;
$mobile-L: 425px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;

// Effects
$hover-time: 300ms;
