include ./pug-components/button-burger
include ./pug-components/card
include ./pug-components/header
include ./pug-components/link-basket
include ./pug-components/link-callback-tel
include ./pug-components/logo
include ./pug-components/navigation
include ./pug-components/ui-icons
include ./pug-components/hero
include ./pug-components/products

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Краски
  body
    +header
      +button-burger('header__button-burger')
      +logo('header__logo')
      +navigation('header__navigation')
      +link-callback-tel('header__link-callback-tel')
      +ui-icons('header__ui-icons')
      +link-basket('header__link-basket')
    main
      +hero
      +products

  script(src='./index.js', defer='defer') 
